main > header {
  background-color: #D2A4EE;
  padding: 1em;
  margin: 1em;
}

#lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

article.list {
  background-color: #FFFEAB;
  padding: 1em;
  margin: 1em;
}

article.list li {
  list-style-type: none;
}

article.list header a {
}

#content > form {
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  background-color: #FFFEAB;
}

#content > form .error{
  font-weight: bold;
  color: red;
}

#content > form input{
  background-color: white;
}

@media (max-width: 70em) {
  #lists { grid-template-columns: repeat(2, 1fr);  }
}

@media (max-width: 40em) {
  #lists { grid-template-columns: 1fr;  }
}
